body{
  background-color: rgb(0, 0, 0);
  font-family: raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: yellow;
  }

::selection{
  color: black;
  background-color: yellow;
}

.mainbox{
  display: flex;
  flex-direction: column;
  
  position: relative;
  

  width: 350px;
  height: 450px;


  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 251, 0, 0.8);
  backdrop-filter: blur(5px);

  margin-left: auto;
  margin-right: auto;

}
.mainbox > * {
  color: yellow;
}

.tag{
  margin-left: 30px;
  margin-bottom: 0px;
}

.email{
  width: 80%;
  height: 30px;
  margin: 5px auto 20px auto;

  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  outline: none;
  border: 2px solid yellow;
  padding: 10px ;

  font-size: 1em;
  color: black;
}

.email::placeholder{
  color: rgb(255, 251, 0);
}

.join{
  font-size: 1.1em;
  font-weight: bold;

  width: 150px;
  margin: auto ;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(255, 251, 0);
  background-color: rgb(0, 0, 0);

  cursor: pointer;
  
  transition: background-color 0.2s ease-in,color 0.2s ease-in ,border 0.2s ease-in;
}

.join:hover{
  background-color: rgb(255, 251, 0);
  color: black;
  border: 2px solid black;
}

.sign-up{
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 10px;
}

.sign-up:hover{
  color: rgb(0, 0, 0);
  filter: drop-shadow(0 0 5px rgb(255, 251, 0));
}

/* background objects */

.first-object{
  position: fixed;
  left: 39%;
  top: 35%;


  width: 150px;
  height: 150px;
  border-radius: 40%;
  background-color: pink;

  z-index: -1;
}

.second-object{
  position: fixed;
  left: 55%;
  top: 25%;

  scale: 1.2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 166, 0);

  z-index: -1;
}

.third-object{
  position: fixed;
  left: 42%;
  top: 65%;

  scale: 0.9;
  width: 150px;
  height: 150px;
  border-radius: 15%;
  background-color: greenyellow;

  z-index: -1;
}

.fourth-object{
  position: fixed;
  left: 52%;
  top: 65%;

  scale: 0.9;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 47, 47);

  z-index: -1;
}
/* objects end */



@media (max-width: 750px){
  .first-object{
    left: 15%;
  }

  .second-object{
    left: 60%;
  }

  .third-object{
    left: 10%;
  }
}