body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.main{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  width: 250px;
<<<<<<< HEAD
  height: 450px;
=======
  height: 400px;
>>>>>>> 86573d0 (linux updated)
  border-radius: 20px;
  cursor: pointer;

  background-image: url(https://i.pinimg.com/736x/65/0f/25/650f257a9c9a0c69f795666a97f9a809--slam-dunk-tv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.name{
  text-align: center;
  font-size: 25px;
  color: red;
  filter: drop-shadow(0 0 2px white );
<<<<<<< HEAD
  margin-bottom: 10px;
}

.about{
  font-size: 14px;
=======
}

.about{
>>>>>>> 86573d0 (linux updated)
  padding: 0 10px;
  color: white;
  filter: drop-shadow(0 0 2px red);
  margin-top: 0;
  margin-bottom: 5px;
}

.career{
  width: 6ch;
  box-sizing: content-box;
  
<<<<<<< HEAD
  margin-bottom: 0px;
=======
  margin-top: 10px;
>>>>>>> 86573d0 (linux updated)
  padding: 10px 15px;
  border-radius: 3px;

  color: white;
  background-color: red;
  border: 1px solid white;

  cursor: pointer;
}

.main::after{
  content: "";
  position: absolute;
  border-radius: 20px;
  inset: 0;
}

.main:hover::after{
  background-color: rgba(0, 0, 0, 0.7);
}

.main > *{
  display: block;
  z-index: 1;
  translate: 0 -1200%;
  transition: translate  ease-in-out 0.7s;

}

.main:hover > *{
  translate: 0 0;
}